<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
	   					   http://www.springframework.org/schema/aop 
	   					   http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	   					   http://www.springframework.org/schema/context
	                       http://www.springframework.org/schema/context/spring-context-4.3.xsd
	                       http://www.springframework.org/schema/tx 
       					   http://www.springframework.org/schema/tx/spring-tx.xsd"> 
	  <context:component-scan base-package="service"></context:component-scan>
	  <context:component-scan base-package="demo"></context:component-scan>
	  <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
	   		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	   		<property name="url" value="jdbc:mysql://localhost:3306/store"></property>
	   		<property name="username" value="root"></property>
	   		<property name="password" value="m381610m."></property>
	   </bean>
  	  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
  	  		<property name="dataSource" ref="dataSource"></property>
  	  </bean>
  	  <tx:annotation-driven transaction-manager="transactionManager"/>
	  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	 		<property name="dataSource" ref="dataSource"/>
	 		<property name="configLocation" value="classpath:mybatis-config.xml"/>
	  </bean>
	  <bean id="mapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	  		<property name="mapperInterface" value="mapperFactory.Mapper"/>
	  		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	  </bean>
	  
</beans>
